h1 {
    text-align: center;
    background-color: palevioletred;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 100px;
    border: 4px solid grey;
    padding: 40px;
}

img{
    float: center;
}
 
 body{
     background-color: black;
 }
 p {
     font-size: 24px ;
 }
 .sidenav{
    float: left;
    border: 4px solid green;
    padding: 8px;
    background-color: gray;
    height: 50%;
}
#hello{
    text-align: center;
    color: darkturquoise;
}